input + span {
  font-weight: normal;
}

input:checked + span {
  font-weight: bold;
  background-color: rgba(0,255,0,0.2);
}

.menuCellDiv:hover {
  background-color: rgba(0,0,255,0.4);
}

.summary {
  background-color: rgba(0,128,255,0.1);
}
.summary:hover {
  background-color: rgba(0,128,255,0.2);
}

#left {
  width: 100px;
}

/* for testing
* {
  background-color: rgba(0,0,0,0.8);
}
*/
